@import "tailwindcss";

@theme{
  --font-display : "Urbanist", "sans-serif";
  --breakpoint-3xl : 1920px;
  --color-primarily : #FF9324;
}

@layer base{
  html{
    font-family: var(--font-display);
  }

  body{
    background-color: #fcfbfc;
  }
}